<a href="https://colab.research.google.com/github/Graziiele/Analise-De-Dados-Estudos/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando bibliotecas usadas
import pandas as pd
import numpy as np

In [2]:
#Carregando dados

df = pd.read_csv("/content/empresas.csv")

In [3]:
#Quantidade de número de linhas e de Colunas
df.shape

(11331, 8)

In [4]:
#nomes das Colunas
df.columns

Index(['id', 'estado_empresa', 'cnae_empresa', 'capital_empresa',
       'processos_judiciais_empresa', 'idade_empresa', 'socios_empresa',
       'fornecedor_empresa'],
      dtype='object')

In [60]:
#amostra de 5 linhas do DataFrame
df.head(5)

,id,estado_empresa,cnae_empresa,capital_empresa,processos_judiciais_empresa,idade_empresa,socios_empresa,fornecedor_empresa
0,0,SP,3313901,472052,2,16,4,CABL951
2,2,DF,3321000,711994,0,13,2,MEL789
3,3,AC,4221903,25330,0,5,1,FOO456
4,4,GO,3321000,271513,0,3,2,MEL789
5,5,AP,2821601,853729,0,20,2,FOO456

In [14]:
#
df.tail(5)

,id,estado_empresa,cnae_empresa,capital_empresa,processos_judiciais_empresa,idade_empresa,socios_empresa,fornecedor_empresa
11326,11326,GO,4754703,626844,0,13,3,FOO456
11327,11327,CE,4754703,840835,0,2,2,JJF753
11328,11328,CE,4669901,944517,3,17,4,XPTO123
11329,11329,AC,4322303,899621,2,20,4,CABL951
11330,11330,PI,4321500,368599,0,18,2,XPTO123

In [7]:
#Verificando informaçōes sobre o tipos de dados 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11331 entries, 0 to 11330
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           11331 non-null  int64
 1   estado_empresa               11331 non-null  object
 2   cnae_empresa                 11331 non-null  object
 3   capital_empresa              11331 non-null  int64
 4   processos_judiciais_empresa  11331 non-null  int64
 5   idade_empresa                11331 non-null  int64
 6   socios_empresa               11331 non-null  int64
 7   fornecedor_empresa           11331 non-null  object
dtypes: int64(5), object(3)
memory usage: 708.3+ KB

In [8]:
#Verificando a existência de valores nulo na base de dados
df.isnull().sum()

id                             0
estado_empresa                 0
cnae_empresa                   0
capital_empresa                0
processos_judiciais_empresa    0
idade_empresa                  0
socios_empresa                 0
fornecedor_empresa             0
dtype: int64

In [9]:
df['estado_empresa'].value_counts()

SP             454
PA             442
MG             439
AL             438
SE             438
GO             435
MT             425
PE             423
SC             418
AC             417
RO             414
AM             414
PB             413
RN             412
BA             411
MA             411
AP             410
PR             407
PI             405
TO             399
CE             397
MS             397
RS             396
RR             390
DF             390
ES             389
RJ             376
mg              57
sp              23
ms               9
go               7
pr               7
pe               6
rs               6
ce               5
es               5
rj               5
ba               5
mt               4
pa               3
rn               3
al               3
pi               3
ro               2
sc               2
ma               2
pb               2
df               2
am               2
ap               2
to               2
..               1
ac               1
se               1
Switzerland      1
Name: estado_empresa, dtype: int64

In [83]:
df['estado_empresa'] = df['estado_empresa'].str.upper()

In [84]:
df['estado_empresa'].value_counts()

MG             496
SP             477
PA             445
GO             442
AL             441
SE             439
MT             429
PE             429
SC             420
AC             418
BA             416
RO             416
PB             415
AM             415
RN             415
PR             414
MA             413
AP             412
PI             408
MS             406
CE             402
RS             402
TO             401
ES             394
DF             392
RR             390
RJ             381
..               1
SWITZERLAND      1
Name: estado_empresa, dtype: int64

In [99]:
df.drop(df.loc[df['estado_empresa'] == '..'].index, inplace=True)
df.drop(df.loc[df['estado_empresa'] == 'SWITZERLAND'].index, inplace=True)

In [100]:
df['estado_empresa'].value_counts()

MG    496
SP    477
PA    445
GO    442
AL    441
SE    439
PE    429
MT    429
SC    420
AC    418
RO    416
BA    416
PB    415
AM    415
RN    415
PR    414
MA    413
AP    412
PI    408
MS    406
CE    402
RS    402
TO    401
ES    394
DF    392
RR    390
RJ    381
Name: estado_empresa, dtype: int64

In [23]:
df['processos_judiciais_empresa'].value_counts()

0    6904
4    1151
1    1127
3    1104
2    1044
Name: processos_judiciais_empresa, dtype: int64

In [24]:
df['socios_empresa'].value_counts()

1    2855
3    2849
2    2814
4    2812
Name: socios_empresa, dtype: int64

In [25]:
df['idade_empresa'].value_counts()

20    577
19    567
4     565
5     561
2     557
21    555
3     554
1     551
9     544
18    536
7     536
10    532
11    529
14    529
17    529
13    527
8     527
16    520
6     519
15    515
12    500
Name: idade_empresa, dtype: int64

In [101]:
# Salva em CSV

df.to_csv('/content/empresas.csv', index = False)

In [102]:
df.shape

(11328, 8)